/* Mi código CSS */

body {
  padding-top: 60px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

/*****************************************************************

    HEADER

/*****************************************************************/

#header {
  background-color: #222;
  border-bottom: 4px solid #ff8f00;
}

#header-logo {
  width: auto;
  height: 20px;
}

/*****************************************************************

    HOME

/*****************************************************************/

#home {
  flex: 1;
}

#home-intro {
  border-bottom: 4px solid #ff8f00;
  margin-bottom: 30px;
}

#home h1 span {
  font-weight: 300;
}

#home .card h4 {
  font-size: 1.3rem;
  margin: 0;
}

#home hr {
  margin: 1.9rem 0 2.5rem;
}

@media (max-width: 767px) {
  #home h1 {
    font-size: 1.8rem;
  }
}

/*****************************************************************

    FOOTER

/*****************************************************************/

#footer {
  border-top: 4px solid #ff8f00;
  background-color: #222;
  margin-top: 40px;
  color: #eeeeee;
  padding: 80px 0;
  font-size: 1rem;
}

#footer-logo {
  width: auto;
  height: 20px;
  margin-bottom: 15px;
}

#footer ul {
  margin: 0;
  padding: 0;
}

#footer ul li {
  list-style: none;
  margin-bottom: 6px;
}

#footer ul li a,
#footer ul li a:visited {
  color: #eeeeee;
  text-decoration: none;
}
.img-altura {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.badge-position {
  top: 0.8rem;
  left: 0.8rem;
  color: #eeeeee;
  background-color: #ff8f00;
}
.btn-orange {
  background-color: #ff8f00;
}
.btn-orange:hover {
  background-color: #ffb300;
}
.btn-moneda {
  background-color: transparent;
  border: 1px solid grey;
}
.btn-moneda:hover {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.7);
}
#home-intro img {
  height: 60vh;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .boton-autos {
    width: 100%;
  }
  #home-intro img {
    height: 30vh;
  }
}
.altura-minima {
  min-height: 100vh;
}
